@import "tailwindcss";

@theme {
  --color-grape: #88498f;
  --color-pacific: #779fa1;
  --color-oak: #e0cba8;
  --color-tomato: #ff6542;
  --color-plum: #564154;
}

body {
  background: #faf5ee;
  color: var(--color-plum);
  font-family: var(--font-roboto), ui-sans-serif, system-ui, Arial, sans-serif;
}
